$shadow: 3px 5px 15px 4px rgba( 0,0,0,0.2);
/**
 *actually can be minimized
 *but usefull if project grows
 */
$small-device: 480px;
$medium-device: 768px;
$large-device: 992px;
$x-large-device: 1200px;